# Environnement virtuel
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# VS Code
.vscode/

# Windows
Thumbs.db
desktop.ini